<div class="grid-row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            All services within DfE sign in
        </h1>
        <% if(locals.availableServices) { %>
        <ul class="service-list">
            <% for (let i = 0; i < locals.availableServices.length; i++) { %>
            <li>
                <a href="services/request-access/<%=locals.availableServices[i].id%>">
                    <h3>
                        <span class="service-title"> <%=locals.availableServices[i].name%></span>
                        <span class="role-name">Request access to <%=locals.availableServices[i].name%></span>
                    </h3>
                </a>
            </li>
            <% } %>
        </ul>
        <% } else { %>
        <p>No services available</p>
        <% } %>
    </div>
</div>
