<div class="grid-row">
    <div class="col-12">
        <h1 class="heading-xlarge">
            Development Launcher
        </h1>
        <p class="lede">Hello <span class="bold"><%=locals.user.email %></span>, these helper actions are only enabled in development mode and are used to facilitate development and debugging of this service.</p>
    </div>
</div>

