<div class="row">
    <div class="col-8">

        <h1 class="heading-xlarge">

            Manage users
        </h1>

    </div>
    <div class="col-4">
        <a href="/users/new" class="button pull-right">Add new user</a>
    </div>
</div>

<style>
    .pull-right {
      float: right;
    }
</style>