<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">
                Signed out
        </h1>
        <p class="lede">Some content goes here...</p>
        <a href="/" class="button">Start again</a>
    </div>
</div>


