<div class="grid-row">
    <div class="col-12">
        <h1 class="heading-xlarge">
            <%= locals.displayName %>
        </h1>
        <h2 class="heading-large">User Details</h2>
        <p class="lede">User Details</p>
    </div>
</div>
